.slide-div{
    opacity:0;
    visibility:hidden;
    transform: translateY(20vh);
    transition:.50s ease-in-out;
}

.slide-div.is-visible{
    opacity:1;
    visibility:visible;
    transform:none;
}

.title {
    opacity:0;
    visibility:hidden;
    transform:scaleX(0);
    transition:.50s ease-in-out
}

.title.is-visible {
    opacity:1;
    visibility:visible;
    transform:none;
}